.illandril-grid-labels--tooltip-container {
  --offset: 0.75em;
  position: absolute;
  pointer-events: none;
  width: 0;
  height: 0;
  z-index: var(--z-index-tooltip, 9999);
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-position="bottom-right"] .illandril-grid-labels--tooltip {
    left: var(--offset);
    top: var(--offset);
  }
  &[data-position="bottom"] .illandril-grid-labels--tooltip {
    top: var(--offset);
  }
  &[data-position="bottom-left"] .illandril-grid-labels--tooltip {
    right: var(--offset);
    top: var(--offset);
  }
  &[data-position="left"] .illandril-grid-labels--tooltip {
    right: var(--offset);
  }
  &[data-position="top-left"] .illandril-grid-labels--tooltip {
    right: var(--offset);
    bottom: var(--offset);
  }
  &[data-position="top"] .illandril-grid-labels--tooltip {
    bottom: var(--offset);
  }
  &[data-position="top-right"] .illandril-grid-labels--tooltip {
    left: var(--offset);
    bottom: var(--offset);
  }
  &[data-position="right"] .illandril-grid-labels--tooltip {
    left: var(--offset);
  }
}
.illandril-grid-labels--tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  color: var(--color-text-light-highlight);
  border: 1px solid var(--color-border-dark-secondary);
  border-radius: 3px;
  box-shadow: 0 0 4px #000;
  font-size: var(--font-size);
  padding: 0.5em;
  &[aria-hidden="true"] {
    display: none;
  }
  white-space: pre;
  text-align: center;
}